CRVCheck/src/main/resources/wsdl/CRVCheckService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://crv.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRVSimpleService" targetNamespace="http://crv.soacourse.unsw.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://crv.soacourse.unsw.edu.au">
       <xsd:element name="CRVCheckRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="licenseNo" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="CRVCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="message" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:simpleType name="CRVCheckFaultType">
         <xsd:restriction base="xsd:string">
           <xsd:enumeration value="InvalidLicenseNo"/>
           <xsd:enumeration value="ProgramError"/>
         </xsd:restriction>
       </xsd:simpleType>
       <xsd:element name="CRVCheckFault">
         <xsd:complexType>
           <xsd:sequence>
             <xsd:element name="faultType" nillable="false" type="tns:CRVCheckFaultType"></xsd:element>
             <xsd:element name="faultMessage" nillable="false" type="xsd:string"></xsd:element>
           </xsd:sequence>
         </xsd:complexType>
       </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CRVCheckRequestMsg">
    <wsdl:part name="parameters" element="tns:CRVCheckRequest" />
  </wsdl:message>
  <wsdl:message name="CRVCheckResponseMsg">
    <wsdl:part name="parameters" element="tns:CRVCheckResponse" />
  </wsdl:message>
  <wsdl:message name="CRVCheckFaultMsg">
    <wsdl:part name="parameters" element="tns:CRVCheckFault" />
  </wsdl:message>
  <wsdl:portType name="CRVCheckService">
    <wsdl:operation name="CRVCheck">
      <wsdl:input message="tns:CRVCheckRequestMsg"/>
      <wsdl:output message="tns:CRVCheckResponseMsg"/>
      <wsdl:fault name="crvFault" message="tns:CRVCheckFaultMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRVCheckServiceSOAP" type="tns:CRVCheckService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CRVCheck">
      <soap:operation soapAction="http://crv.soacourse.unsw.edu.au/CRVCheck"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="crvFault">
        <soap:fault name="crvFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRVCheckService">
    <wsdl:port binding="tns:CRVCheckServiceSOAP" name="CRVCheckServiceSOAP">
      <soap:address location="http://localhost:8080/ORS/CRVCheckService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
